<h2>Welcome to the Random Home Page</h2>

<p>This is where all of the cool people come to....um...look around?</p>

<img src="https://media.giphy.com/media/y65VoOlimZaus/giphy.gif" alt="power-rangers">